<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Admin" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Admin.mdb;;Persist Security Info=False;Jet OLEDB:Database Password=zx;"/>
    <add name="NewsDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\news.mdb;;Persist Security Info=False;Jet OLEDB:Database Password=zx;"/>
    <add name="WeeklyDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\weekly.mdb;"/>
  </connectionStrings>    
</configuration>
